<html>
<head>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<style>
body {
  grid-template-columns: 1fr min(70rem,90%) 1fr;
}
</style>
</head>
<body>
<h1>{{.current_remote}}</h1>
{{- $currentRemote := .current_remote -}}
{{- $tools := .tools -}}

<table border="1">
  <thead>
    <caption> Provider {{.current_remote}}: Features tested using Clients </caption>
    <tr>
      <th>Feature</th>
    {{range $tool_name := .tools}}
      <th>{{ $tool_name }}</th>
    {{end}}
    </tr>
  </thead>
  <tbody>
{{- range $featureName, $feature := index .tags.checks $currentRemote }}
      <tr>
        <td>{{$featureName}}</td>
  {{- range $toolName := $tools }}
    {{- with index $feature $toolName }}
        <td>{{ if (eq "0" (printf "%v" .success)) }}No
        {{else if (ne .success .total)}} Partial {{else}} Yes {{end}}</td>
    {{- else }}
        <td>-</td>
    {{- end }}
  {{- end}}
      </tr>
{{- end }}
  </tbody>
</table>

<footer>Checks from {{ printf "%.16s" .period.begin }} to {{ printf "%.16s" .period.end }} <a href="../../{{ .current_remote }}/{{ .date_path }}/">Detailed logs</a></footer>
</body>
