<html>
<head>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<style>
body {
  grid-template-columns: 1fr min(70rem,90%) 1fr;
}
</style>
</head>
<body>
<table>
  <thead>
    <caption>Feature Support by Provider</caption>
    <tr>
      <th>Feature</th>
    {{range $remote_name := .remotes}}
      <th><a href="./{{ $remote_name }}.html">{{ $remote_name }}</a></th>
    {{end}}
    </tr>
  </thead>
  <tbody>
    {{range $name, $remotes := .tags.feature}}
      <tr>
        <td>{{$name}}</td>
        {{range $.remotes}}
          {{with index $remotes .}}
            <td>{{ if (eq "0" (printf "%v" .success)) }}No
            {{else if (ne .success .total)}} Partial {{else}} Yes {{end}}</td>
          {{else}}
            <td>-</td>
          {{end}}
        {{end}}
      </tr>
    {{end}}
  </tbody>
</table>

<footer>Checks from {{ printf "%.16s" .period.begin }} to {{ printf "%.16s" .period.end }}.</footer>
</body>
