<table border="1">
  <thead>
    <tr>
      <th colspan="{{ add (len .remotes) 1}}">Funcionalidade x Provedor</th>
    </tr>
    <tr>
      <th>Funcionalidade</th>
    {{range $remote_name := .remotes}}
      <th><a href="./{{ $remote_name }}.html">{{ $remote_name }}</a></th>
    {{end}}
    </tr>
  </thead>
  <tbody>
    {{range $name, $remotes := .tags.feature}}
      <tr>
        <td>{{$name}}</td>
        {{range $.remotes}}
          {{with index $remotes .}}
            <td>{{ if (eq "0" (printf "%v" .success)) }}Não
            {{else if (ne .success .total)}} Parcial {{else}} Sim {{end}}</td>
          {{else}}
            <td>-</td>
          {{end}}
        {{end}}
      </tr>
    {{end}}
  </tbody>
</table>

<footer>Checks from {{ printf "%.16s" .period.begin }} to {{ printf "%.16s" .period.end }}</footer>
